<style>
  .header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    padding:10px;
    background: #f6f6f6;
    z-index: 999;
  }

  .logo{
    float:left;
    height:25px;
    line-height:25px;
    padding-right: 10px;
  }

  .search{
    border:1px solid #eee; width:240px;height:25px; float:left;margin-right:10px;
  }

  .submit{
    float:left;height: 25px;background: #555;margin-top:2px;
  }
</style>
<header class="header">
  <div class="logo">91renwu</div>
  <input type="text" class="search"/>
  <button class="submit">搜索</button>
</header>