<style>
    .info{
        padding: 15px 10px;
        border-bottom: 8px solid #e6e6e6;
        height: 20px;
        overflow: hidden;
        color: #999;
        font-size: 14px;
    }
    .video-num{
        padding-left: 19px;
        display: inline-block;
    }

    .fr{
        float:right;
        margin-right: 20px;
    }
    .fr span{
        height: 26px;
        line-height: 26px;
        background-position: 0 -34px;
        padding-left: 25px;
        position: relative;
        top: -5px;
    }
    .module{
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid #ebebeb;
    }
    .module-name.fl {
        position: relative;
        top: 1px;
    }
    .module-name {
        width: 66%;
        padding-left: 10px;
        height: 18px;
        line-height: 18px;
        font-size: 17px;
        margin: 1px 0;
        overflow: hidden;
    }
    .clearfix {
        zoom: 1;
    }
    .ov-list{
        margin: 0;
        padding: 0;
    }
    .ov-list li {
        height: 70px;
        padding: 8px 10px 8px 145px;
        position: relative;
        border-bottom: 1px solid #ebebeb;
        list-style: none;
    }

    .v-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .ov-list .v {
        width: 125px;
        height: 70px;
        position: absolute;
        top: 8px;
        left: 10px;
        background-size: contain;
    }
    .ov-list .v-item{
        position: relative;
        top: -13px;
        left: 0px;
    }
    img {
        border: 0;
    }
    .v-duration {
        padding-top: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        text-align: right;
    }
    .v-duration span {
        padding-right: 5px;
        color: #fff;
    }
    .v-item h2 {
        font-weight: 400;
        line-height: 18px;
    }
    .v-item h2 span {
        height: 36px;
        margin-bottom: 1pc;
        color: #333;
        font-size: 14px;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }
    .v-num{
        color:#666;
    }
    body{
        font-size: 12px;
        color: #333;
    }
    a {
        text-decoration: none;
    }
    a, html * {
        outline: 0;
    }
    .v-item h2 span {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
</style>
<div class="content-wrap" style="padding:0 10px;">
    <iframe style="height:210px;width:100%;margin-top:50px" src='http://player.youku.com/embed/<%= vid %>' frameborder=0 ></iframe>
    <div class="info">
        <div class="video-num"><%=num%>次播放</div>
        <div class="fr">
            <span class="video-time">时长:<%=time%></span>
            <span class="video-tip"><%=target%></span>
            <span class="video-user"><%=user%></span>
        </div>

    </div>
    <div class="ad">

    </div>
    <div class="recommend">
        <div class="module clearfix">
            <div class="module-name fl">大家都在看</div>
        </div>
    </div>

</div>

<ul id="listTemp" style="display: none" class="ov-list"  jt-model="item in list">
    <li>
        <a class="clearfix" href="/play?vid={{item.vid}}&num={{item.num}}&time={{item.time}}&target={{item.target}}&user={{item.user}}" class="v-link">
            <div class="v">
                <img style="width:100%;height:100%;" src="{{item.img}}">
                <div class="v-duration">
                    <span>{{item.time}}</span>
                </div>
            </div>
            <div class="v-item">
                <h2>
                    <span>{{item.name}}</span>
                </h2>
                <div class="img-src v-num">{{item.num}}次播放</div>
            </div>
        </a>
    </li>
</ul>
