<div class="content-wrap">
    <div class="channel">
        <% top.forEach(function(item,i){%>
            <% if(i==0){%>
            <div class="larger-channel-item">
                <img class="item-img" src="<%=item.img %>" alt="">
                <a class="item-link" href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>"></a>
                <div class="larger-info-ov">
                    <div class="larger-info-ov-color"></div>
                </div>
                <div class="larger-info">
                    <div class="larger-info-title">
                        <a href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>" data-from="1-2" target="video"><%=item.name %></a>
                    </div>
                    <div class="larger-info-des">
                        &nbsp;<i class="ico-stat-play" title="播放"></i><span class="v-num"><%=item.num %>次播放</span>&nbsp;<i title="评论" class="ico-stat-comment"></i><span class="v-num"><%=item.target %></span>
                    </div>
                </div>
            </div>
            <% }else{ %>
            <div class="channel-item">
                <img class="item-img" src="<%=item.img %>" alt="">
                <a class="item-link" href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>"></a>
                <div class="item-time"><%=item.time %></div>
                <div class="item-info">
                    <div class="info-title">
                        <a href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>" data-from="1-2" target="video"><%=item.name %></a>
                    </div>
                    <div class="info-des">
                        &nbsp;<i class="ico-stat-play" title="播放"></i><span class="v-num"><%=item.num %>次播放</span>&nbsp;<i title="评论" class="ico-stat-comment"></i><span class="v-num"><%=item.target %></span>
                    </div>
                </div>
            </div>
            <% } %>
        <% }) %>

    </div>
    <div class="channel" id="infiniteList">
        <h2 class="channel-title">猜你喜欢</h2>
        <% list.forEach(function(item){%>
        <div class="channel-item">
            <img class="item-img load-pic" src="/img/default2.png" data-src="<%=item.img %>" alt="">
            <a class="item-link" href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>"></a>
            <div class="item-time"><%=item.time %></div>
            <div class="item-info">
                <div class="info-title">
                    <a href="/play?vid=<%=item.vid %>&num=<%=item.num %>&time=<%=item.time %>&target=<%=item.target %>&user=<%=item.user %>" data-from="1-2" target="video"><%=item.name %></a>
                </div>
                <div class="info-des">
                    &nbsp;<i class="ico-stat-play" title="播放"></i><span class="v-num"><%=item.num %>次播放</span>&nbsp;<i title="评论" class="ico-stat-comment"></i><span class="v-num"><%=item.target %></span>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="tip">加载中......</div>
</div>


<div id="listTemp" style="display: none" jt-model="item in list">
    <div class="channel-item">
        <img class="item-img load-pic" src="/img/default2.png" data-src="{{item.img}}" alt="">
        <a href="/play?vid={{item.vid}}&num={{item.num}}&time={{item.time}}&target={{item.target}}&user={{item.user}}" class="item-link"></a>
        <div class="item-time">{{item.time}}</div>
        <div class="item-info">
            <div class="info-title">
                <a href="/play?vid={{item.vid}}&num={{item.num}}&time={{item.time}}&target={{item.target}}&user={{item.user}}">{{item.name}}</a>
            </div>
            <div class="info-des">
                &nbsp;<i class="ico-stat-play" title="播放"></i><span class="v-num">{{item.num}}次播放</span>&nbsp;<i title="评论" class="ico-stat-comment"></i><span class="v-num">{{item.target}}</span>
            </div>
        </div>
    </div>
</div>


